@CHARSET "UTF-8";

body {
  background-color: #dddddd;
  color: #66666;
  font-family: Roboto, sans-serif;
   padding: 0.5em 1em 10em 1em;
}
body * {
  margin-bottom: 0;
}

:target {
	padding: 0.5em 1em;
	background: #2285a8;
}

p, 
ul,
li {
  font-size: 1em;
  margin: 1em 0;
}


a,
a:visited {
  color: #01579B;   /* color_accent, or similar */
  text-decoration: none;
}
#more {
  border-top: 1px solid gray;
  padding-top: 8px;
  text-align: center;
}
strong {
  color: black;
}

h1 {
  font-size: 1.2em;
  color: black;
  border-top: 1px solid gray;
}
h1.first {
  border-top: none;
}

h2 {
  font-size: 1.1em;
}

dt, h4 {
  font-size: 1em;
  color: black;
  margin-top: 1.5em;
  font-weight: normal;
}

#nav a {
  margin-right: 21px;
}


hr {
  border-top: 1px solid gray;
  margin-top: 2em;
}
